#ScissorImage{
    width:30%;
    heigth:30%;
    transform: rotate(50deg);
    margin-top:-20px;
    margin-left:40px
}


#chickenImage{
    width:25%;
    heigth:25%;

    margin-top:150px;
    margin-left:120px
}