#main{
  background-image:url("/public/ligth.png");
}

.bg-grade{
  background-color: rgb(15 23 42);
  background-image:url('/public/bg.png')
}

#lg-1{
  position:absolute;
  top:300px;
  left:-580px
}


#lg-2{
  position:absolute;
  top:-300;
  right:-680px
}


.enableBG{
  background-image:url("/painter.png");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover
}

/* From Uiverse.io by qhns3 */ 
.gradPatternFlip {

  background: rgb(15, 23, 42);
  --gap: 5em;
  --line: 2px;
  --color: rgba(30, 41, 59, 0.78);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}
